@-webkit-keyframes middle {
  from {
    -webkit-transform: rotate(20deg) translate(0, 0);
            transform: rotate(20deg) translate(0, 0);
  }
  to {
    -webkit-transform: rotate(0) translate(0%, -100%);
            transform: rotate(0) translate(0%, -100%);
    background-color: #8B7ADD;
  }
}

@keyframes middle {
  from {
    -webkit-transform: rotate(20deg) translate(0, 0);
            transform: rotate(20deg) translate(0, 0);
  }
  to {
    -webkit-transform: rotate(0) translate(0%, -100%);
            transform: rotate(0) translate(0%, -100%);
    background-color: #8B7ADD;
  }
}

@-webkit-keyframes bottom {
  from {
    -webkit-transform: rotate(45deg) translate(0);
            transform: rotate(45deg) translate(0);
  }
  to {
    -webkit-transform: rotate(0deg) translate(0%, -200%);
            transform: rotate(0deg) translate(0%, -200%);
    background-color: #8B7ADD;
  }
}

@keyframes bottom {
  from {
    -webkit-transform: rotate(45deg) translate(0);
            transform: rotate(45deg) translate(0);
  }
  to {
    -webkit-transform: rotate(0deg) translate(0%, -200%);
            transform: rotate(0deg) translate(0%, -200%);
    background-color: #8B7ADD;
  }
}

@-webkit-keyframes disappear {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

@keyframes disappear {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

@-webkit-keyframes slide-up {
  0% {
    max-height: 300px;
    opacity: 100%;
  }
  100% {
    max-height: 0px;
    opacity: 0;
  }
}

@keyframes slide-up {
  0% {
    max-height: 300px;
    opacity: 100%;
  }
  100% {
    max-height: 0px;
    opacity: 0;
  }
}

@-webkit-keyframes rotate-menu {
  from {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotate-menu {
  from {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.middle {
  -webkit-animation: middle 0.75s linear;
          animation: middle 0.75s linear;
}

.bottom {
  -webkit-animation: bottom 0.75s linear;
          animation: bottom 0.75s linear;
}

.disappear {
  -webkit-animation: disappear 0.75s;
          animation: disappear 0.75s;
}

.slide-up {
  -webkit-animation: slide-up 0.75s;
          animation: slide-up 0.75s;
}

.rotate-menu {
  -webkit-animation: rotate-menu 1s;
          animation: rotate-menu 1s;
}

body {
  background-color: #FFFAF2;
  color: #323232;
  font-family: 'Lato', sans-serif;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  font: 72px 'Playfair Display', serif;
}

h2 {
  font: 36px 'Playfair Display', serif;
}

h2 strong {
  color: #8B7ADD;
  font-weight: normal;
}

a, a:visited {
  text-decoration: none;
  color: #8B7ADD;
}

.hidden {
  display: none;
}

nav {
  position: relative;
}

nav ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

nav li {
  list-style-type: none;
}

section {
  padding: 52px 50px;
}

section h1 {
  margin: 0;
}

#menu-btn {
  width: 50px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: fixed;
  top: 10%;
  z-index: 2;
}

#menu-btn.rotate-menu {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.btn {
  padding: 20px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(45deg, #8B7ADD, #B0A5E8);
  font-size: 18px;
  color: white;
}

a.btn, a:visited.btn {
  color: white;
}

.purple {
  background-color: #B0A5E8;
}

#main-nav {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #FFFAF2;
}

#main-nav hr {
  border: 2px solid #8B7ADD;
  margin: 20px 0;
  width: 75%;
  position: relative;
  left: 100%;
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
}

#main-nav a, #main-nav a:visited {
  font: 72px 'Playfair Display', serif;
  color: #F1E9CE;
}

#main-nav a:hover {
  -webkit-text-decoration: underline solid;
          text-decoration: underline solid;
}

#main-nav #bottom-line {
  width: 90%;
}

#main-nav #site-links {
  margin-left: 10%;
}

#main-nav #contact-links {
  position: fixed;
  right: 50px;
  top: 200px;
}

#main-nav #contact-links li {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #8B7ADD;
  margin: 10px;
}

#top {
  -webkit-transform-origin: -5% -0%;
          transform-origin: -5% -0%;
  background-color: #8B7ADD;
}

#middle {
  -webkit-transform-origin: -5% 0%;
          transform-origin: -5% 0%;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

#bottom {
  -webkit-transform-origin: -5% -50%;
          transform-origin: -5% -50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#main-nav.hidden.welcome-nav {
  display: block;
}

#main-nav.hidden.welcome-nav #top, #main-nav.hidden.welcome-nav #middle, #main-nav.hidden.welcome-nav #bottom {
  -webkit-transform: none;
          transform: none;
}

#main-nav.hidden.welcome-nav #site-links {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  top: 50px;
}

#main-nav.hidden.welcome-nav #site-links a {
  font-size: 125px;
}

#main-nav.hidden.welcome-nav #site-links #top {
  background-color: transparent;
}

#main-nav.hidden.welcome-nav #contact-links {
  top: 100px;
}

#welcome-img {
  width: -webkit-fill-available;
  margin: 0 -100px;
  position: absolute;
  top: 0%;
  z-index: -2;
}

#welcome-text {
  margin: 200px 0;
  margin-right: 65%;
}

#welcome .projects-btn {
  margin: 50px 0;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  #welcome-img {
    top: 5%;
  }
  #welcome-text {
    margin: 150px 0;
    margin-right: 65%;
  }
}

@media screen and (max-width: 900px) {
  #welcome-img {
    top: 10%;
  }
  #welcome-text {
    margin-right: 50%;
  }
}

@media screen and (max-width: 800px) {
  #welcome-text {
    margin-right: 60%;
  }
  #welcome-text p {
    margin-right: -40%;
  }
}

#about-me {
  margin: 100px 0;
}

#about-me #about-img {
  background-color: #8B7ADD;
  border-radius: 100%;
  width: 300px;
  height: 300px;
}

#about-me #about-text {
  margin-left: 50px;
  max-width: 65%;
}

#skills {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skill {
  background-color: #8B7ADD;
  margin: 30px;
  width: 200px;
  height: 200px;
}

.intro {
  margin: 50px 0;
}

.project {
  padding: 100px 50px;
  margin: 0 -50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project .project-img {
  width: 50%;
  height: 400px;
  background-color: #8B7ADD;
}

.project .project-text {
  width: 45%;
  margin-right: 20px;
}
/*# sourceMappingURL=style.css.map */