@-webkit-keyframes middle {
  from {
    -webkit-transform: rotate(20deg) translate(0, 0);
            transform: rotate(20deg) translate(0, 0);
  }
  to {
    -webkit-transform: rotate(0) translate(0%, -100%);
            transform: rotate(0) translate(0%, -100%);
    background-color: #8B7ADD;
  }
}

@keyframes middle {
  from {
    -webkit-transform: rotate(20deg) translate(0, 0);
            transform: rotate(20deg) translate(0, 0);
  }
  to {
    -webkit-transform: rotate(0) translate(0%, -100%);
            transform: rotate(0) translate(0%, -100%);
    background-color: #8B7ADD;
  }
}

@-webkit-keyframes bottom {
  from {
    -webkit-transform: rotate(45deg) translate(0);
            transform: rotate(45deg) translate(0);
  }
  to {
    -webkit-transform: rotate(0deg) translate(0%, -200%);
            transform: rotate(0deg) translate(0%, -200%);
    background-color: #8B7ADD;
  }
}

@keyframes bottom {
  from {
    -webkit-transform: rotate(45deg) translate(0);
            transform: rotate(45deg) translate(0);
  }
  to {
    -webkit-transform: rotate(0deg) translate(0%, -200%);
            transform: rotate(0deg) translate(0%, -200%);
    background-color: #8B7ADD;
  }
}

@-webkit-keyframes disappear {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

@keyframes disappear {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

@-webkit-keyframes appear {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes appear {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@-webkit-keyframes slide-in {
  from {
    opacity: 0;
    -webkit-transform: translate(0, 100px);
            transform: translate(0, 100px);
  }
  to {
    opacity: 100%;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
    -webkit-transform: translate(0, 100px);
            transform: translate(0, 100px);
  }
  to {
    opacity: 100%;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes slide-up {
  0% {
    max-height: 300px;
    opacity: 100%;
  }
  100% {
    max-height: 0px;
    opacity: 0;
  }
}

@keyframes slide-up {
  0% {
    max-height: 300px;
    opacity: 100%;
  }
  100% {
    max-height: 0px;
    opacity: 0;
  }
}

@-webkit-keyframes rotate-menu {
  from {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    left: 0%;
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    left: 2%;
  }
}

@keyframes rotate-menu {
  from {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    left: 0%;
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    left: 2%;
  }
}

@-webkit-keyframes re-rotate-menu {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    left: 2%;
  }
  to {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    left: 0%;
  }
}

@keyframes re-rotate-menu {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    left: 2%;
  }
  to {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    left: 0%;
  }
}

@-webkit-keyframes middle-rotate {
  from {
    -webkit-transform: translate(0, -75%);
            transform: translate(0, -75%);
    opacity: 0;
  }
  to {
    -webkit-transform-origin: -5% 0%;
            transform-origin: -5% 0%;
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
    opacity: 100%;
  }
}

@keyframes middle-rotate {
  from {
    -webkit-transform: translate(0, -75%);
            transform: translate(0, -75%);
    opacity: 0;
  }
  to {
    -webkit-transform-origin: -5% 0%;
            transform-origin: -5% 0%;
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
    opacity: 100%;
  }
}

@-webkit-keyframes bottom-rotate {
  from {
    -webkit-transform: translate(0, -150%);
            transform: translate(0, -150%);
    opacity: 0;
  }
  to {
    -webkit-transform-origin: -5% -50%;
            transform-origin: -5% -50%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    opacity: 100%;
  }
}

@keyframes bottom-rotate {
  from {
    -webkit-transform: translate(0, -150%);
            transform: translate(0, -150%);
    opacity: 0;
  }
  to {
    -webkit-transform-origin: -5% -50%;
            transform-origin: -5% -50%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    opacity: 100%;
  }
}

@-webkit-keyframes type {
  from {
    max-width: 0;
  }
  to {
    max-width: 100%;
  }
}

@keyframes type {
  from {
    max-width: 0;
  }
  to {
    max-width: 100%;
  }
}

@-webkit-keyframes blink-caret {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: #af836a;
  }
  100% {
    border-color: transparent;
  }
}

@keyframes blink-caret {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: #af836a;
  }
  100% {
    border-color: transparent;
  }
}

.openNav #middle {
  -webkit-animation: middle-rotate 1s;
          animation: middle-rotate 1s;
}

.openNav #bottom {
  -webkit-animation: bottom-rotate 1s;
          animation: bottom-rotate 1s;
}

.middle {
  -webkit-animation: middle 0.75s linear;
          animation: middle 0.75s linear;
}

.bottom {
  -webkit-animation: bottom 0.75s linear;
          animation: bottom 0.75s linear;
}

.disappear {
  -webkit-animation: disappear 0.5s;
          animation: disappear 0.5s;
}

.appear {
  -webkit-animation: appear 0.5s;
          animation: appear 0.5s;
}

.slide-in {
  -webkit-animation: slide-in 1s;
          animation: slide-in 1s;
}

section.slide-in h1 {
  opacity: 0%;
}

.slide-up {
  -webkit-animation: slide-up 0.75s;
          animation: slide-up 0.75s;
}

.rotate-menu {
  -webkit-animation: rotate-menu 1s;
          animation: rotate-menu 1s;
}

.rerotate-menu {
  -webkit-animation: re-rotate-menu 1s;
          animation: re-rotate-menu 1s;
}

.type {
  -webkit-animation: type 3s steps(40, end), blink-caret 0.75s step-end infinite;
          animation: type 3s steps(40, end), blink-caret 0.75s step-end infinite;
  overflow-x: hidden;
}

body {
  background-color: #383a5c;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  margin: 0;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  height: 0px;
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #1b1c2c;
}

body::-webkit-scrollbar-thumb {
  background-color: #2e304c;
  border-radius: 20px;
  border: none;
}

::-moz-selection {
  background-color: #6851d3;
}

::selection {
  background-color: #6851d3;
}

h1 {
  font: 5em 'Rajdhani', sans-serif;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-right: 4px solid #af836a;
  -webkit-animation: blink-caret .75s step-end infinite;
          animation: blink-caret .75s step-end infinite;
  white-space: nowrap;
}

h2 {
  font: 56px 'Rajdhani', sans-serif;
}

h2 strong {
  color: #8B7ADD;
  font-weight: normal;
}

a, a:visited {
  text-decoration: none;
  color: #8B7ADD;
}

.hidden {
  display: none;
}

.hide {
  opacity: 0;
}

nav {
  position: relative;
}

nav ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

nav li {
  list-style-type: none;
}

section div {
  padding: 2.5% 5%;
}

section .first-header {
  padding: 50px;
}

section h1 {
  margin: 0;
  padding: 0;
  padding-right: 1px;
}

section.slide-in {
  opacity: 100%;
}

#menu-btn {
  width: 50px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: fixed;
  top: 75px;
  z-index: 2;
  cursor: pointer;
}

#menu-btn.rotate-menu {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  left: 2%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.btn {
  padding: 20px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(45deg, #8B7ADD, #B0A5E8);
  font-size: 18px;
  color: white;
}

.btn-grad {
  background-image: -webkit-gradient(linear, left top, right top, from(#8B7ADD), color-stop(51%, #af836a), to(#8B7ADD));
  background-image: linear-gradient(to right, #8B7ADD 0%, #af836a 51%, #8B7ADD 100%);
}

.btn-grad {
  margin-top: 10px;
  padding: 15px 45px;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  text-align: center;
  font: 20px "Lato", sans-serif;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 10px;
  display: block;
  border: none;
  z-index: 0;
}

.btn-grad:hover {
  background-position: right center;
  /* change the direction of the change here */
  text-decoration: none;
  cursor: pointer;
}

a.btn-grad, a:visited.btn-grad {
  color: #383a5c;
}

a.btn-grad:hover {
  color: white;
}

.purple {
  background-color: #B0A5E8;
  color: #323232;
}

#main-nav {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #383a5c;
  z-index: 1;
}

#main-nav hr {
  border: 2px solid #8B7ADD;
  margin: 2% 0;
  width: 75%;
  position: relative;
  left: 100%;
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
}

#main-nav a, #main-nav a:visited {
  font: 72px 'Rajdhani', sans-serif;
  color: #42457a;
}

#main-nav a:hover {
  color: #af836a;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

#main-nav #bottom-line {
  width: 90%;
}

#main-nav #site-links {
  margin-left: 10%;
}

#main-nav #contact-links {
  position: fixed;
  right: 50px;
  top: 200px;
}

#main-nav #contact-links li {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #8B7ADD;
  margin: 10px;
}

#top {
  -webkit-transform-origin: -5% -0%;
          transform-origin: -5% -0%;
  background-color: #8B7ADD;
}

#middle {
  -webkit-transform-origin: -5% 0%;
          transform-origin: -5% 0%;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

#bottom {
  -webkit-transform-origin: -5% -50%;
          transform-origin: -5% -50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#welcome-img {
  width: 100%;
  position: absolute;
  top: 10%;
  z-index: -2;
}

#welcome-text {
  margin: 10% 0;
  max-width: 30%;
}

#welcome .projects-btn {
  margin: 5% 0;
  width: 100%;
  text-align: center;
}

#welcome h1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#about-me {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about-me #about-img {
  background-color: #8B7ADD;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  padding: 0;
  background-image: url("images//profile.jpg");
  background-size: cover;
}

#about-me #about-text {
  margin-left: 50px;
  max-width: 65%;
}

#tech-skills {
  background: linear-gradient(45deg, #B0A5E8, #af836a);
  margin: 5% 0;
}

#skills {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.skill {
  background-color: #8B7ADD;
  width: 150px;
  height: 150px;
  padding: 0;
  margin: 1%;
}

.intro {
  padding-top: 0;
}

.project {
  padding: 5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project .project-img {
  padding: 0;
  min-width: 600px;
  background-color: #8B7ADD;
}

.project .project-text {
  max-width: 50%;
  padding: 0;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #welcome #welcome-text {
    max-width: 40%;
  }
  #welcome.slide-in #welcome-img {
    -webkit-animation: img-slide-in 1s;
            animation: img-slide-in 1s;
  }
  @-webkit-keyframes img-slide-in {
    from {
      opacity: 0;
      -webkit-transform: translate(0, 100px);
              transform: translate(0, 100px);
      position: absolute;
    }
    to {
      opacity: 100%;
      -webkit-transform: translate(0, 10%);
              transform: translate(0, 10%);
      position: absolute;
    }
  }
  @keyframes img-slide-in {
    from {
      opacity: 0;
      -webkit-transform: translate(0, 100px);
              transform: translate(0, 100px);
      position: absolute;
    }
    to {
      opacity: 100%;
      -webkit-transform: translate(0, 10%);
              transform: translate(0, 10%);
      position: absolute;
    }
  }
  #about-me #about-text {
    margin-left: 0;
  }
}

@media only screen and (max-width: 768px) {
  section div {
    padding: 50px;
  }
  #main-nav {
    -webkit-padding-start: 10%;
            padding-inline-start: 10%;
    top: 30px;
  }
  #main-nav a {
    font-size: 56px;
  }
  #main-nav #contact-links {
    margin: 10px;
    top: auto;
    bottom: 0;
    right: 0;
  }
  #main-nav #contact-links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #main-nav #contact-links.hidden {
    display: none;
  }
  #top {
    background-color: #8B7ADD;
  }
  #middle {
    -webkit-transform: none;
            transform: none;
  }
  #bottom {
    -webkit-transform: none;
            transform: none;
  }
  .openNav #middle {
    -webkit-animation: middle-slide 1s;
            animation: middle-slide 1s;
  }
  .openNav #bottom {
    -webkit-animation: bottom-slide 1s;
            animation: bottom-slide 1s;
  }
  @-webkit-keyframes middle {
    from {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
    to {
      -webkit-transform: translate(0%, -75%);
              transform: translate(0%, -75%);
      background-color: #8B7ADD;
    }
  }
  @keyframes middle {
    from {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
    to {
      -webkit-transform: translate(0%, -75%);
              transform: translate(0%, -75%);
      background-color: #8B7ADD;
    }
  }
  @-webkit-keyframes bottom {
    from {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    to {
      -webkit-transform: translate(0%, -150%);
              transform: translate(0%, -150%);
      background-color: #8B7ADD;
    }
  }
  @keyframes bottom {
    from {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    to {
      -webkit-transform: translate(0%, -150%);
              transform: translate(0%, -150%);
      background-color: #8B7ADD;
    }
  }
  @-webkit-keyframes middle-slide {
    from {
      -webkit-transform: translate(0, -75%);
              transform: translate(0, -75%);
      opacity: 0;
    }
    to {
      -webkit-transform: none;
              transform: none;
      opacity: 100%;
    }
  }
  @keyframes middle-slide {
    from {
      -webkit-transform: translate(0, -75%);
              transform: translate(0, -75%);
      opacity: 0;
    }
    to {
      -webkit-transform: none;
              transform: none;
      opacity: 100%;
    }
  }
  @-webkit-keyframes bottom-slide {
    from {
      -webkit-transform: translate(0, -150%);
              transform: translate(0, -150%);
      opacity: 0;
    }
    to {
      -webkit-transform: none;
              transform: none;
      opacity: 100%;
    }
  }
  @keyframes bottom-slide {
    from {
      -webkit-transform: translate(0, -150%);
              transform: translate(0, -150%);
      opacity: 0;
    }
    to {
      -webkit-transform: none;
              transform: none;
      opacity: 100%;
    }
  }
  #welcome #welcome-img {
    top: 15%;
    width: 150%;
    left: -50%;
  }
  #welcome #welcome-text {
    max-width: 100%;
    margin-top: 50%;
  }
  #welcome #welcome-text .projects-btn {
    padding: 0;
  }
  #welcome.slide-in #welcome-img {
    -webkit-animation: img-slide-in 1s;
            animation: img-slide-in 1s;
  }
  @-webkit-keyframes img-slide-in {
    from {
      opacity: 0;
      top: 30%;
    }
    to {
      opacity: 100%;
      top: 15%;
    }
  }
  @keyframes img-slide-in {
    from {
      opacity: 0;
      top: 30%;
    }
    to {
      opacity: 100%;
      top: 15%;
    }
  }
  #about #about-text {
    margin-left: 0;
    padding: 20px 0;
    max-width: 100%;
  }
  #projects .project {
    padding: 50px;
  }
  #projects .project .project-img {
    max-width: 100%;
  }
  #projects .project .project-text {
    max-width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  h1 {
    font-size: 20vw;
  }
}

@media only screen and (max-width: 600px) {
  .type {
    -webkit-animation: type 1s steps(10, end), blink-caret 0.75s step-end infinite;
            animation: type 1s steps(10, end), blink-caret 0.75s step-end infinite;
    overflow-x: hidden;
  }
}

@media only screen and (max-width: 300px) {
  #main-nav a {
    font-size: 50px;
  }
  #menu-btn {
    width: 35px;
  }
  #welcome #welcome-img {
    top: 25%;
  }
  #welcome.slide-in #welcome-img {
    -webkit-animation: img-slide-in 1s;
            animation: img-slide-in 1s;
  }
  @-webkit-keyframes img-slide-in {
    from {
      opacity: 0;
      top: 30%;
    }
    to {
      opacity: 100%;
      top: 17%;
    }
  }
  @keyframes img-slide-in {
    from {
      opacity: 0;
      top: 30%;
    }
    to {
      opacity: 100%;
      top: 17%;
    }
  }
}
/*# sourceMappingURL=style.css.map */