// colours:

$bkgd: #FFFAF2;
$bkgd-dark: #F1E9CE;
$black: rgb(50,50,50);
$accent1: #8B7ADD;
$accent1a: #B0A5E8;
$accent2: #EFC33C;

// -------------------------------------------------------

// animations:

@keyframes middle {
    from {transform:rotate(20deg) translate(0,0);} 
    to {transform: rotate(0) translate(0%,-100%);background-color: $accent1;}
}

@keyframes bottom {
    from {transform:rotate(45deg) translate(0);} 
    to {transform: rotate(0deg) translate(0%,-200%);background-color: $accent1;}
}

@keyframes disappear {
    from {opacity:100%} to {opacity:0%}
}

@keyframes appear {
    from {opacity:0%} to {opacity:100%}
}

@keyframes slide-in {
    from {opacity:0; transform: translate(0,100px);}
    to {opacity: 100%; transform: translate(0);}
}

@keyframes slide-up {
    0% {max-height:300px;opacity:100%}
    100% {max-height:0px;opacity:0}
}

@keyframes rotate-menu {
    from {transform: rotate(-90deg);left:0%;} to {transform: rotate(0deg);left:2%}
}

@keyframes re-rotate-menu {
    from {transform: rotate(0deg);left:2%} to {transform: rotate(-90deg);left:0%;}
}

@keyframes middle-rotate {
    from {
        transform: translate(0,-75%); 
        opacity:0;
    } 
    to {
        transform-origin: -5% 0%; 
        transform: rotate(20deg);
        opacity:100%;
    }
}

@keyframes bottom-rotate {
    from {
        transform: translate(0,-150%);
        opacity:0;
    } 
    to {
        transform-origin: -5% -50%; 
        transform: rotate(45deg);
        opacity:100%;
    }
}

.openNav {
    #middle {
        animation: middle-rotate 1s;
    }
    #bottom {
        animation: bottom-rotate 1s;
    }
}

.middle {
    animation: middle 0.75s linear;
}

.bottom {
    animation: bottom 0.75s linear;
}

.disappear {
    animation: disappear 0.5s;
}

.appear {
    animation: appear 0.5s;
}

.slide-in {
    animation: slide-in 1s;
}

.slide-up {
    animation: slide-up 0.75s;
}

.rotate-menu {
    animation: rotate-menu 1s;
}

.rerotate-menu {
    animation: re-rotate-menu 1s;
}

// -------------------------------------------------------

// general styling:

body {
    background-color: $bkgd;
    color: $black;
    font-family:  'Lato', sans-serif;
    margin:0;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    height: 0px;
    width: 8px;
}
  
body::-webkit-scrollbar-track {
    background: darken($bkgd,15%);
}

body::-webkit-scrollbar-thumb {
    background-color: darken($bkgd,5%);
    border-radius: 20px;
    border: none;
}

::selection {
    background-color:$accent1a;
}

h1 {
    font: 72px 'Playfair Display', serif;
}

h2 {
    font: 36px 'Playfair Display', serif;

    strong {
        color: $accent1;
        font-weight: normal;
    }
}

a, a:visited {
    text-decoration: none;
    color: $accent1;
}

.hidden {
    display: none;
}

.hide {
    opacity:0;
}

nav {
    position:relative;

    ul {
        padding-inline-start: 0;
    }

    li {
        list-style-type: none;

    }

}

section {
    margin-bottom: 10%;

    h1, div {
        padding: 2.5% 5%;
    }

    h1 {
        padding:50px;
        margin: 0;
    }

}

section.slide-in {
    opacity: 100%;
}

#menu-btn {
    width:50px;
    transform: rotate(-90deg);
    position:fixed;
    top:75px;
    z-index: 2;
    cursor: pointer;
}

#menu-btn.rotate-menu {
    transform: rotate(0deg);
    left:2%;
}

.flex {
    display:flex;
    align-items: center;
    flex-wrap: wrap;
}

.btn {
    padding: 20px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(45deg, $accent1, $accent1a);
    font-size: 18px;
    color: white;
}

.btn-grad {background-image: linear-gradient(to right, $accent1 0%, $accent2  51%, $accent1  100%)}
.btn-grad {
    margin-top: 10px;
    padding: 15px 45px;
    position:relative;
    left:50%;
    transform: translate(-50%);
    text-align: center;
    font: 20px "Lato", sans-serif;
    width: fit-content;
    transition: 0.5s;
    background-size: 200% auto;      
    border-radius: 10px;
    display: block;
    border:none;
    z-index: 0;
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    text-decoration: none;
    cursor: pointer;
}

a.btn-grad, a:visited.btn-grad {
    color: white;
}

a.btn-grad:hover {
    color: $black;
}

.purple {
    background-color: $accent1a;

    ::selection {
        background-color: $accent1;
    }
}

// -------------------------------------------------------

// nav:

#main-nav {
    position:fixed;
    top:0;
    height:100%;
    width:100%;
    background-color: $bkgd;
    z-index: 1;

    hr {
        border: 2px solid $accent1;
        margin: 2% 0;
        width:75%;
        position: relative;
        left:100%;
        transform: translate(-100%);
    }

    a, a:visited {
        font: 72px 'Playfair Display', serif;
        color: $bkgd-dark;
    }

    a:hover {
        text-decoration: underline solid;
    }

    #bottom-line {
        width:90%;
    }

    #site-links {
        margin-left:10%;
    }

    #contact-links {
        position:fixed;
        right:50px;
        top: 200px;

        li {
            width:50px;
            height:50px;
            border-radius: 100%;
            background-color: $accent1;
            margin:10px;
        }
    }

}

#top {
    transform-origin: -5% -0%;
    background-color: $accent1;
}

#middle {
    transform-origin: -5% 0%;
    transform: rotate(20deg);
}

#bottom {
    transform-origin: -5% -50%;
    transform: rotate(45deg)
}

// -------------------------------------------------------

// welcome:

#welcome-img {
    width:100%;
    position:absolute;
    top:10%;
    z-index: -2;
}

#welcome-text {
    margin: 10% 0;
    max-width: 30%;
}

#welcome {

    .projects-btn {
        margin:5% 0;
        width: 100%;
        text-align: center;
    }

    margin-bottom: 0;

}

// -------------------------------------------------------

// about:

#about-me {

    justify-content: center;

    #about-img {

        background-color: $accent1;
        border-radius: 100%;
        width:200px;
        height:200px;
        padding:0;
        background-image: url("images//profile.jpg");
        background-size: cover;
    
    }
    
    #about-text {
        margin-left: 50px;
        max-width: 65%;
    }

}

#skills {
    justify-content: center;
    padding:0;
}

.skill {
    background-color: $accent1;
    width:150px;
    height:150px;
    padding:0;
    margin: 1%;
}

// -------------------------------------------------------

// projects:

.intro {
    padding-top: 0;
}

.project {
    padding: 10% 5%;
    justify-content: space-between;

    .project-img {
        padding: 0;
        min-width:600px;
        background-color: $accent1;

    }

    .project-text {
        max-width:50%;
        padding: 0;

    }

}

// -------------------------------------------------------

// responsive design:

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

    #welcome {

        #welcome-text {
            max-width: 40%;
        }

    }

    #about-me {

        #about-text {
            margin-left:0;
        }
        
    }

}

@media only screen and (max-device-width: 600px) {

    section {
        div, h1 {
            padding:50px;
        }
    }

    #welcome {

        #welcome-img {
            top:15%;
            width: 150%;
            left: -50%;
        }
    
        #welcome-text {
            max-width: 100%;
            margin-top: 50%;

            .projects-btn {
                padding:0;
            }
        }

    }

    #about {

        #about-text {
            margin-left: 0;
            padding:20px 0;
            max-width: 100%;
        }

    }

    #projects {

        .project {
            padding: 50px;

            .project-img {
                max-width: 100%;
            }
            
            .project-text {
                max-width: 100%;
            }

        }

    }

}