// colours:

$bkgd: #fff;
$bkgd-dark: silver;
$text: rgb(50,50,50);
$dark-text: rgb(50,50,50);
$accent1: #EFC33C;
$accent1a: #009272;
$accent2: #00CAA6;

// -------------------------------------------------------

// ANIMATIONS:

// @keyframes middle {
//     from {transform:rotate(20deg) translate(0,0);} 
//     to {transform: rotate(0) translate(0%,-100%);background-color: $accent1;}
// }

// @keyframes bottom {
//     from {transform:rotate(45deg) translate(0);} 
//     to {transform: rotate(0deg) translate(0%,-200%);background-color: $accent1;}
// }

@keyframes disappear {
    from {opacity:100%} to {opacity:0%}
}

@keyframes appear {
    from {opacity:0%} to {opacity:100%}
}

@keyframes slide-in {
    from {opacity:0; transform: translate(0,100px);}
    to {opacity: 100%; transform: translate(0);}
}

@keyframes slide-up {
    0% {max-height:300px;opacity:100%}
    100% {max-height:0px;opacity:0}
}

@keyframes rotate-menu {
    from {transform: rotate(-90deg);left:0%;} to {transform: rotate(0deg);left:2%}
}

@keyframes re-rotate-menu {
    from {transform: rotate(0deg);left:2%} to {transform: rotate(-90deg);left:0%;}
}

@keyframes middle {
    from {transform:translate(0,0);} 
    to {transform: translate(0%,-75%);}
}

@keyframes bottom {
    from {transform: translate(0);} 
    to {transform: translate(0%,-150%);}
}

@keyframes middle-slide {
    from {
        transform: translate(0,-75%); 
        opacity:0;
    } 
    to {
        transform: none;
        opacity:100%;
    }
}

@keyframes bottom-slide {
    from {
        transform: translate(0,-150%); 
        opacity:0;
    } 
    to {
        transform: none;
        opacity:100%;
    }
}

// @keyframes middle-rotate {
//     from {
//         transform: translate(0,-75%); 
//         opacity:0;
//     } 
//     to {
//         transform-origin: -5% 0%; 
//         transform: rotate(20deg);
//         opacity:100%;
//     }
// }

// @keyframes bottom-rotate {
//     from {
//         transform: translate(0,-150%);
//         opacity:0;
//     } 
//     to {
//         transform-origin: -5% -50%; 
//         transform: rotate(45deg);
//         opacity:100%;
//     }
// }

@keyframes type {
    from {max-width: 0;} to {max-width: 100%}
}

@keyframes blink-caret {
    0% {border-color: transparent}
    50% {border-color: $bkgd-dark;}
    100% {border-color: transparent}
}

.openNav {
    #middle {
        animation: middle-slide 1s;
    }
    #bottom {
        animation: bottom-slide 1s;
    }
}

.middle {
    animation: middle 0.75s linear;
}

.bottom {
    animation: bottom 0.75s linear;
}

.disappear {
    animation: disappear 0.5s;
}

.appear {
    animation: appear 0.5s;
}

.hidden.appear {
    display: block;
    opacity: 0;
}

.slide-in {
    animation: slide-in 1s;
}

section.slide-in {
    h1 {
        opacity: 0%;
    }
}

.slide-up {
    animation: slide-up 0.75s;
}

.rotate-menu {
    animation: rotate-menu 1s;
}

.rerotate-menu {
    animation: re-rotate-menu 1s;
}

.type {
    animation: type 1.5s steps(20, end), blink-caret .5s step-end infinite;
    overflow-x: hidden;
}

// -------------------------------------------------------

// GENERAL STYLING:

body {
    background-color: $bkgd;
    color: $text;
    font:  0.85em 'Open Sans', sans-serif;
    font-weight: 100;
    margin:0;
    overflow-x: hidden;
    height:-webkit-fill-available;
}

body::-webkit-scrollbar {
    height: 0px;
    width: 8px;
}
  
body::-webkit-scrollbar-track {
    background: darken($bkgd,15%);
}

body::-webkit-scrollbar-thumb {
    background-color: darken($bkgd,5%);
    border-radius: 20px;
    border: none;
}

::selection {
    background-color:$accent2;
}

h1 {
    font: 3em 'Fira Code', monospace;
    width: fit-content;
    border-right: 4px solid $accent2;
    animation: blink-caret .75s step-end infinite;
    white-space: nowrap;
}

h2 {
    font: 2.75em 'Fira Code', monospace;

    strong {
        color: $accent1a;
        font-weight: normal;
    }
}

h3 {
    color: $accent1;
    font: 1.5em 'Fira Code', monospace;
    font-weight: 600;
}

a, a:visited {
    text-decoration: none;
    color: $accent1a;
}

a:hover {
    color: $accent2;
}

.hidden {
    display: none;
}

.hide {
    opacity:0;
}

.visible {
    display: initial;
}

#head {
    display: flex;
    align-items: center;
    height: -webkit-fill-available;
    flex-wrap: wrap;
    align-content: center;
    padding: 300px 5%;
}

#nav {
    display: flex;
    align-items: flex-start;
    position: relative;
    width: -webkit-fill-available;
    justify-content: center;

    #img {
        padding: 35px;
        padding-left:0px;
    }
}

nav {
    position:relative;

    ul {
        padding-inline-start: 0;
    }

    li {
        list-style-type: none;
        width: 250px;

    }

}

#contact-links {
    position:absolute;
    right:20px;
    top: 50px;
     a, a:visited {
        font-size: 0;
     }

    li {
        width:30px;
        height:30px;
        border-radius: 100%;
        background-color: $accent1;
        margin:10px;
        justify-content: center;
        display: flex;
        align-items: center;
    }

    img {
        padding: 2px;
        width: 20px;
        height: 20px;
    }
}

#desc-container {
    width: -webkit-fill-available;
    justify-content: center;
    display:flex;
}

.desc {
    position: relative;
    max-width: 300px;
    font-size: 0.8em;
}

section {

    // div {
    //     padding: 2.5% 5%;
    // }

    .first-header {
        padding: 10%;
    }

    h1 {
        margin:0;
        padding: 0;
        padding-right: 1px;
    }

}

section.slide-in {
    opacity: 100%;
}

#menu-btn {
    width:30px;
    transform: rotate(-90deg);
    // position:fixed;
    // top:75px;
    // z-index: 2;
    cursor: pointer;
}

#menu-btn.rotate-menu {
    transform: rotate(0deg);
    left:2%;
}

.flex {
    display:flex;
    align-items: center;
    flex-wrap: wrap;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.btn {
    padding: 20px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(45deg, $accent1, $accent1a);
    font-size: 18px;
    color: white;
}

.btn-grad {background-image: linear-gradient(to right, $accent1 0%, $accent2  51%, $accent1  100%)}
.btn-grad {
    margin-top: 10px;
    padding: 15px 45px;
    position:relative;
    left:50%;
    transform: translate(-50%);
    text-align: center;
    font: 20px "Lato", sans-serif;
    width: fit-content;
    transition: 0.5s;
    background-size: 200% auto;      
    border-radius: 10px;
    display: block;
    border:none;
    z-index: 0;
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    text-decoration: none;
    cursor: pointer;
}

a.btn-grad, a:visited.btn-grad {
    color: $bkgd;
}

a.btn-grad:hover {
    color: $text;
}

.purple {
    background-color: $accent1a;
    color: $dark-text;
}

code {
    background-color: $accent1;
    border-radius: 5px;
    padding: 2px;
    font-weight: 200;
}

.grey-text {
    color: $bkgd-dark;
    text-align: center;
}

.section {
    a, a:visited {
        color: $accent1a;
    }
    a:hover {
        color: $accent2;
    }
}

// -------------------------------------------------------

// NAV:

#main-nav {
    // position:fixed;
    // top:0;
    // height:100%;
    // width:100%;
    background-color: $bkgd;
    // z-index: 1;

    a, a:visited {
        font: 3.5em 'Fira Code', monospace;
        font-weight: 300;
        color: $bkgd-dark;
    }

    a:hover {
        color: $accent1;
        transition: color 0.5s;
    }

    // #site-links {
    //     margin-left:10%;
    // }

}

// #top {
//     background-color: $accent1;
// }

#middle {
    transform: none;
}

#bottom {
    transform: none;
}   

// -------------------------------------------------------

// WELCOME:

#welcome-img {
    width:100%;
    position:absolute;
    top:10%;
    z-index: -2;
}

#welcome-text {
    margin: 10% 0;
    max-width: 30%;
}

#welcome {

    .projects-btn {
        margin:5% 0;
        width: 100%;
        text-align: center;
    }

    h1 {
        width: fit-content;
    }

}

// -------------------------------------------------------

// ABOUT:

section {
    background-color: $accent1;
}

#techskills {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 5%;

    .skill-section {
        max-width: 400px;
        // background-color: red;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        // height: 500px;

        .first-header {
            text-align: center;
        }
    }

    h2 {
        text-align: center;
    }
}

.icons {
    justify-content: center;
    img {
        width: 50px;
        padding: 50px;
    }
}

#education {
    background-color: $bkgd;
    padding: 5%;
    //justify-content: center;

    .first-header {
        padding: 0;
    }

    h1 {
        color: $bkgd-dark;
    }

    li {
        margin: 15px;
    }

    .flex {
        width: -webkit-fill-available;
        align-items: flex-start;
        justify-content: space-between;
        div {
            max-width: 600px;
        }
    }
}

// -------------------------------------------------------

// PROJECTS:

#projects {
    height: -webkit-fill-available;
    justify-content: center;
    align-items: center;
}

.intro {
    padding-top: 0;
}

.project.flex {
    justify-content: center;
    h2 {
        text-align: center;
    }
    div {
        padding: 10px 0;
    }
}

.project {
    padding: 5%;
    justify-content: space-between;
    background-color: lighten($accent1, 10%);
    width: 70%;
    height: 90%;
    flex-wrap: nowrap;

    p {
        margin: 0;
    }
    
    .project-btn {
        font-size: 24px;
        cursor: pointer;
    }

    .project-box {
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .project-img {
        padding: 0;
        width: -webkit-fill-available;
        text-align: center;

        .video {
            width: 70%;
            height:350px;
            border:none;
        }

        img {
            max-width: 600px;
            height: auto;
        }

    }

    .project-text {
        max-width:70%;
        padding: 0;

    }

}

.flex.hidden {
    display: none;
}

.project-title.flex {
    flex-wrap: nowrap;
    padding: 0;
    h2 {
        margin: 0 20px;
    }
}

// -------------------------------------------------------

// RESPONSIVE:

@media only screen and (max-width: 500px) {

    #projects {
        height: auto;
    }

    .project {
        width: -webkit-fill-available;
    }

    .project .project-img .video {
        height: 200px;
        width: -webkit-fill-available;
    }

    .project div {
        min-width: 90%;
        justify-content: center;
    }
}

@media only screen and (max-width: 350px) {
    #nav #img {
        padding-left: 10%;
    }
}