:root {
    --primary: #00755D;
    --primary-light: #9BC1AF;
    --secondary: #E7AD8B;
    --bg: #FDF5E6;
    --bg-darker: #DBC087;
}
/* -------------------------------------------------------------------------- */
/*                                 Skills Tabs                                */
/* -------------------------------------------------------------------------- */
.btn-secondary {
    background: var(--secondary);
    border: 1px solid var(--secondary);
}

.btn-secondary:hover, .btn-secondary-active {
    transition: all 100ms ease-in;
    background: transparent;
    border-color: var(--secondary);
    color: var(--secondary);
}

.btn-primary {
    background: var(--primary);
    border: 1px solid var(--primary);
    color: white;
}

.btn-primary:hover, .btn-primary-active {
    transition: all 100ms ease-in;
    background: transparent;
    border-color: var(--primary);
    color: var(--primary);
}

.btn-primary-light {
    background: var(--primary-light);
    border: 1px solid var(--primary-light);
}

.btn-primary-light:hover, .btn-primary-light-active {
    transition: all 100ms ease-in;
    background: transparent;
    border-color: var(--primary-light);
    color: var(--primary-light);
}

.secondary {
    background: var(--secondary);
}

.primary {
    background: var(--primary);
    color: white;
}

.primary-light {
    background: var(--primary-light);
}

/* -------------------------------------------------------------------------- */
/*                               SVG Animations                               */
/* -------------------------------------------------------------------------- */
@keyframes text {
    0%, 100% {transform: translateY(-1%);}
    50% {transform: translateY(3%);}
}

@keyframes arm {
    0%, 100% {transform: translateX(0.25%) rotate(0deg);}
    50% {transform: translateX(-0.25%) rotate(0.25deg);}
}

#text {
    animation: text infinite 10s ease-in-out;
}

#arm {
    animation: arm infinite 2.5s ease-in;
}