:root {
    --primary: #3A8CE9;
    --primary-light: #8da8de;
    --secondary: #E7AD8B;
    --secondary-light: #F1C2A6;
}
/* -------------------------------------------------------------------------- */
/*                                 Skills Tabs                                */
/* -------------------------------------------------------------------------- */

.btn-primary {
    background: var(--primary);
    border: 1px solid var(--primary);
    color: white;
}

.btn-primary:hover, .btn-primary-active {
    transition: all 100ms ease-in;
    background: transparent;
    border-color: var(--primary);
    color: var(--primary);
}

/* -------------------------------------------------------------------------- */
/*                               SVG Animations                               */
/* -------------------------------------------------------------------------- */

@keyframes text {
    0%, 100% {transform: translateY(-1%);}
    50% {transform: translateY(3%);}
}

@keyframes arm {
    0%, 100% {transform: translateX(0.25%) rotate(0deg);}
    50% {transform: translateX(-0.25%) rotate(0.25deg);}
}

#text {
    animation: text infinite 10s ease-in-out;
}

#arm {
    animation: arm infinite 2.5s ease-in;
}

/* -------------------------------------------------------------------------- */
/*                                 Animations                                 */
/* -------------------------------------------------------------------------- */

@keyframes blink-caret {
    0% {border-color: transparent;}
    50% {border-color: var(--primary-light);}
    100% {border-color: transparent;}
}

.caret {
    animation: blink-caret .75s step-end infinite;
    width: 0;
    border-right: 2px solid var(--primary-light);
}