@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  p,
  li {
    @apply antialiased text-grayscale dark:text-neutral-50;
  }
  h1 {
    @apply text-4xl font-bold font-display;
  }
  h2 {
    @apply text-3xl font-bold font-display;
  }
  h3 {
    @apply text-2xl font-bold font-display;
  }
  a {
    @apply transition-all text-link dark:text-link-300 hover:text-link-300 dark:hover:text-link-500;
  }
  ol li {
    @apply list-decimal;
  }
  ul li {
    @apply list-disc;
  }
  code {
    @apply p-1 text-sm rounded text-secondary-600 bg-grayscale-50 dark:bg-secondary-900 dark:text-secondary-200;
  }

  .content div {
    @apply flex flex-col gap-6;
  }

  .content ol, ul {
    @apply ml-8;
  }

  .content li {
    @apply my-4;
  }

  .content h2 {
    @apply mt-6;
  }
}

/* -------------------------------------------------------------------------- */
/*                               SVG Animations                               */
/* -------------------------------------------------------------------------- */

@keyframes steam {
  0% {
    opacity: 0;
    transform: translateY(1%);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(-1%);
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }
}

#left-steam {
  animation: steam infinite 4s ease-in-out;
}

#right-steam {
  animation: steam infinite 3s ease-in-out;
}

.animate-pulse {
  animation: pulse 3s infinite;
}
